.header {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  padding: 1%;
  text-decoration: none;
  color: #3c3c3c;
  background: #6be96d;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: solid 1px white;
}
